# Primeros pasos en Python

## Objetivos
1. Presentar el entorno de trabajo: Jupyter Notebooks, en este caso, en Colaboratory.
2. Mediante la introducción de algunos elementos nativos de Python, brindar ejemplos de programación orientada a objetos, con clases pre-definidas y, conforme sus propiedades específicos, denotan métodos característicos.
3. Introducir la lógica de los iteradores y mecanismos de excepción.

## Secciones
Elementos y métodos asociados 
 * Listas **[** 0, 1, ... i, ... n **]**
 * Tuplas **(** 0, 1, ... i, ... n **)**
 * Diccionarios **{** key : value, ..... letras : [ a, b, ... z ] **}**
 
 [Aquí](http://sthurlow.com/python/lesson06/) podés leer más sobre estos elementos.

Temas transversales
* Indexación
* Funciones* built-in*
* Iteradores (loops y listas por comprensión)
* Excepciones (condiciones validadas con booleanos)

 ## Comencemos!
 Con *Shift* + *Enter* podés ejecutar cada línea o bloque de código.
 
 Con *Ctrl* + *M* + *M* podés transformar una celda de código en *markdown*. Para revertir esa transormación, usamos *Ctrl* + *M* + *Y*.
  
Podés buscar lista completa de `keyboard shutcuts` en las Jupyter.

In [1]:
5

5

In [2]:
5 * 3

15

* ¿Esos datos/cálculos quedan guardados? ¿Dónde? ¿Cómo los recuperamos?
* ¿ Escuchaste hablar de generar una *instancia* o, alternativamente, de *instanciar* una variable, un elemento, etc.? ¿A qué se refiere ese término?

In [3]:
# necesitamos crear una instancia para el resultado de 5 * 3
# cómo harías?
var = 5 * 3
print(var) # encapsulamos 'var' en un 'print()'' para ver el resultado de la operación 
5 + 4 # recordá que sólo se visibiliza la ejecución de la última línea

15

9

#### 1) Listas [ ]

Una *lista* es una colección **ordenada y mutable** de elementos, no necesariamente del mismo tipo. El orden está dado por una **indexación implícita** que se **actualiza** ante cambio en el orden, droppeo o inserción de algún elementos, droppeo o inserción.

En principio, vamos a codear con una lista que contienen elementos icónicos del **verano**.

Ah! Recordá que las cadenas de texto [*string*] van entre comillas!

In [4]:
# creamos una lista
verano = ['calor', 'sol', 'humedad', 'pileta', 'vacaciones']

In [5]:
# averiguamos la extensión de la lista
len(verano)

5

In [6]:
# también podemos ver la extensión de cada elemento de la lista, por ej.
len('sol')

3

In [7]:
# ahora vemos la extensión de cada elemento implementando una iteración, denominada bucle o loop
for i in verano:
    print(i,': ', len(i), 'letras')

calor :  5 letras
sol :  3 letras
humedad :  7 letras
pileta :  6 letras
vacaciones :  10 letras

Veamos los resultados:
 * ¿cuántos elementos hay en *verano*? ¿coinciden con los ingresados en la primera línea de código?
 * ¿todos los elementos están correctamente indexados? ¿hay algo por corregir?

In [8]:
# Python cuenta con una serie de ÍNDICES implícitos que podemos invocar
verano[-1]

'vacaciones'

In [9]:
# invoca el segundo elemento de la lista
verano[1] # recordá que el conteo arranca en 0!

'sol'

In [10]:
# cuando trabajamos con índices implícitos,
# los intervalos son semiabiertos a derecha
verano[2:4]

['humedad', 'pileta']

In [11]:
# también podemos especificar si queremos saltearnos algunos elementos
# [start:stop:step]
verano[::2]

['calor', 'humedad', 'vacaciones']

In [12]:
# usamos un iterador para ENUMERAR [visiblemente] los elementos de la lista
enumerate(verano)

In [13]:
# sin embargo, a simple vista vemos un objeto 'enumerate', no su contenido
# para visualizarlo conviene que encapsulemos al iterador en una lista
list(enumerate(verano))

[(0, 'calor'), (1, 'sol'), (2, 'humedad'), (3, 'pileta'), (4, 'vacaciones')]

* ¿En qué número comienza la indexación de Python?

* ¿Agregarías algún otro elemento representativo del verano?

In [14]:
# añadimos playa
verano.append('playa')
verano

['calor', 'sol', 'humedad', 'pileta', 'vacaciones', 'playa']

In [15]:
verano[0] = 'mar' # qué sucedió en la lista?
verano

['mar', 'sol', 'humedad', 'pileta', 'vacaciones', 'playa']

In [16]:
verano[0] == verano[3]

False

 * ¿Qué sucedió con los comandos anteriores? ¿Qué hace .append()? ¿Qué sucede al indicar el índice?
 * ¿Qué diferencia hay entre el igual y el doble igual? ¿Cuál usarías para asignar y cuál para comparar?

In [17]:
# podes reescribir el ítem repetido con 'calor' o 'mar'...
# pero intentá borrarlo usando el comando .pop()
print(verano)
help(verano.pop) # esta es una forma para operar un método!

['mar', 'sol', 'humedad', 'pileta', 'vacaciones', 'playa']
Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

 * Siguiendo la documentación, funciona el código cuando indicas el índice del ítem en .pop([index])? 

 * Probá quitando los corchetes!

In [18]:
verano.pop(-1)

'playa'

In [19]:
verano

['mar', 'sol', 'humedad', 'pileta', 'vacaciones']

* .pop() imprime el ítem que indicamos, una vez que lo borra

In [20]:
# incorporá el elemento restante de modo tal que 
# el índice de 'calor' sea [0] y el de 'mar' sea [1] 
# con el comando .insert()
print(verano)
help(verano.insert)

['mar', 'sol', 'humedad', 'pileta', 'vacaciones']
Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

 * ¿Qué diferencia observas entre .append() e .insert()?

In [21]:
verano

['mar', 'sol', 'humedad', 'pileta', 'vacaciones']

In [22]:
verano.insert(0,'calor')
verano.insert(1,'mar')
verano

['calor', 'mar', 'mar', 'sol', 'humedad', 'pileta', 'vacaciones']

In [23]:
verano.pop(2)

'mar'

#### 2) Tuplas ( ) 

Una *tupla* es una colección **ordenada e inmutable** de elementos. Tal como la lista, sigue teniendo una indexación implícita y, por tanto, ordenada. Sin embargo, una vez creada, la tupla no tolera alteraciones, a menos que la reescribas completamente. El no admitir alteraciones, **preserva** la identidad o el contenido inicial. Asimismo es más eficiente computacionalmente hablado en términos de procesamiento.

En este caso, vamos a jugar con referencias a las **cumbres más altas** de cada continente.

In [24]:
# generamos listas con un ORDEN tal que 
# los primeros elementos de c/u puedan agruparse bajo un criterio, igualmente los segundos, los terceros, etc.
# ... de qué forma leerías esta información?

continentes = ['África', 'Américas', 'Antártida', 'Asia', 'Europa', 'Oceanía']
paises = ['Tanzania', 'Argentina', '(Chile)', 'China y Nepal', 'Francia e Italia', 'Indonesia']
cumbres = ['Kilimanjaro', 'Aconcagua', 'Maciso Vinson', 'Everest', 'Mont Blanc', 'Nemangkawi' ]
altura = [5893, 6962, 4892, 8848, 4810, 4884]

In [25]:
# ZIP es otro iterador
zip(continentes, cumbres, altura)

In [26]:
# te acordás qué aplicamos para visualizar sus operatoria?

In [27]:
# cómo crearías un elemento con la línea de arriba?
SeisCumbres = list(zip(continentes, cumbres, altura))
SeisCumbres

[('África', 'Kilimanjaro', 5893),
 ('Américas', 'Aconcagua', 6962),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Mont Blanc', 4810),
 ('Oceanía', 'Nemangkawi', 4884)]

* ¿Estos datos son correctos? ¿Agregarías algún detalle adicional?

In [28]:
# resulta que es mejor optar por separar las Américas
# clonamos SeisCumbres para modificarla libremente y mantener backup
# usarías la primera o la segunda línea? por qué?
CumbresxContinente = SeisCumbres
CumbresxContinente = SeisCumbres.copy()

# incorporá a CumbresxContinente ('America del Norte', 'Denali', 6168) usando .append()
CumbresxContinente.append(('América del Norte', 'Denali', 6168))

# incorporá a CumbresxContinente ('America del Norte', 'Denali', 6168) usando .insert()
# ubicala esta tubla ordenándola alfabeticamente
CumbresxContinente.insert(2, ('América del Norte', 'Denali', 6168))

In [29]:
CumbresxContinente

[('África', 'Kilimanjaro', 5893),
 ('Américas', 'Aconcagua', 6962),
 ('América del Norte', 'Denali', 6168),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Mont Blanc', 4810),
 ('Oceanía', 'Nemangkawi', 4884),
 ('América del Norte', 'Denali', 6168)]

In [30]:
list(enumerate(CumbresxContinente))

[(0, ('África', 'Kilimanjaro', 5893)),
 (1, ('Américas', 'Aconcagua', 6962)),
 (2, ('América del Norte', 'Denali', 6168)),
 (3, ('Antártida', 'Maciso Vinson', 4892)),
 (4, ('Asia', 'Everest', 8848)),
 (5, ('Europa', 'Mont Blanc', 4810)),
 (6, ('Oceanía', 'Nemangkawi', 4884)),
 (7, ('América del Norte', 'Denali', 6168))]

In [31]:
list(enumerate(SeisCumbres))

[(0, ('África', 'Kilimanjaro', 5893)),
 (1, ('Américas', 'Aconcagua', 6962)),
 (2, ('Antártida', 'Maciso Vinson', 4892)),
 (3, ('Asia', 'Everest', 8848)),
 (4, ('Europa', 'Mont Blanc', 4810)),
 (5, ('Oceanía', 'Nemangkawi', 4884))]

* ¿Recordás sobre qué elemento hicimos las modificaciones? ¿Y cómo opera el .copy()?

In [32]:
# usá .pop() para borrar el último elemento
CumbresxContinente.pop()

('América del Norte', 'Denali', 6168)

In [33]:
# te acordás de la indexación? 
# cómo harías para recuperar la palabra 'Américas'?
CumbresxContinente[1][0] # en este caso usamos subíndices!

'Américas'

In [34]:
# tenemos que modificar 'Américas'
# intentá con .remove()
# si no sabés cómo comenzar, acordaté de pedir ayuda! => usá help(xx) o el 'xx?' al final
CumbresxContinente.remove(('Américas', 'Aconcagua', 6962))

 * A diferencia de .pop(), .remove() no arroja el resultado del ítem eliminado. Mientras en el primero se referencia el índice del ítem, en el segundo se menciona el ítem completo

In [35]:
# por qué borramos la tupla completa 
# en lugar de reemplazar 'Américas' por 'América del Sur'?
CumbresxContinente.insert(2, ('América del Sur', 'Aconcagua', 6962))

In [36]:
CumbresxContinente

[('África', 'Kilimanjaro', 5893),
 ('América del Norte', 'Denali', 6168),
 ('América del Sur', 'Aconcagua', 6962),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Mont Blanc', 4810),
 ('Oceanía', 'Nemangkawi', 4884)]

Ahora nos damos cuenta que hay una referencia mal ingresada. La cima europea no es el Mont Blanc, sino el Elbrus. Debemos corregirlo!

In [37]:
# incorporá a CumbresxContinente ('Europa', 'Elbrus', 5642) en el sexto lugar, ¿qué comando usarías?
CumbresxContinente.remove(('Europa', 'Mont Blanc', 4810))
CumbresxContinente.insert(5,('Europa', 'Elbrus', 5642))

In [38]:
CumbresxContinente

[('África', 'Kilimanjaro', 5893),
 ('América del Norte', 'Denali', 6168),
 ('América del Sur', 'Aconcagua', 6962),
 ('Antártida', 'Maciso Vinson', 4892),
 ('Asia', 'Everest', 8848),
 ('Europa', 'Elbrus', 5642),
 ('Oceanía', 'Nemangkawi', 4884)]

In [39]:
# acá presentamos la estructura de una lista de comprensión
# las listas por comprensión son análogas a un loop FOR, aunque en una sólo línea!
list(c for a,b,c in CumbresxContinente)

[5893, 6168, 6962, 4892, 8848, 5642, 4884]

* ¿Si la pensás como un FOR, cómo sería la lógica? ¿Y con respecto a la c, qué datos toma?

In [40]:
#sobre esa lista, aplicamos funiones de máximo y lo mínimo

In [41]:
min(list(c for a,b,c in CumbresxContinente))

4884

In [42]:
range(len(list(c for a,b,c in CumbresxContinente)))

range(0, 7)

#### 3) Diccionarios { }
Un *diccionario* es una colección de pares **key:value**, no está ordenada y puede ser **mutable**. La referenciación a los valores del diccionario se realizan a partir de su **key**, por lo tanto, podríamos considerar que esa key opera como una referenciación explícita, pero se pierde el sentido de orden secuencial de tuplas y listas. Permite updates de los pares **key:values**

En este caso, volvemos a trabajar con la lista **verano**, y generamos un complemento. a jugar con referencias.

Ah! Qué reparaste en los signos (), [], {}

In [43]:
# recuperamos la info que cargamos en 'verano' para trabajar con las estaciones....
verano_d = {}
for k in verano:
    verano_d.update({k: len(k)})
verano_d

{'calor': 5, 'mar': 3, 'sol': 3, 'humedad': 7, 'pileta': 6, 'vacaciones': 10}

In [ ]:
# elimina la variable 'verano_d'
# del verano_d

# reescribe el códico anterior con listas por comprensión
?

In [44]:
# ahora construiremos un diccionario de opuestos
invierno = ['frio', 'pista de ski', 'nieve']
verano, invierno

(['calor', 'mar', 'sol', 'humedad', 'pileta', 'vacaciones'],
 ['frio', 'pista de ski', 'nieve'])

In [45]:
# observemos el siguiente resultado...
antonimos = {k : v for k in verano for v in invierno}
antonimos

{'calor': 'nieve',
 'mar': 'nieve',
 'sol': 'nieve',
 'humedad': 'nieve',
 'pileta': 'nieve',
 'vacaciones': 'nieve'}

 * ¿Qué sucede? ¿Se registran todos los elementos preexistentes? ¿Por qué?

In [46]:
# replica la línea anterior en un loop... 
# qué hace esta secuencia? ¿cómo podrías repararla?
antonimos1 = {}
for k in verano:
    for v in invierno:
        antonimos1.update({k:v})
antonimos1

{'calor': 'nieve',
 'mar': 'nieve',
 'sol': 'nieve',
 'humedad': 'nieve',
 'pileta': 'nieve',
 'vacaciones': 'nieve'}

 * ¿Los pares KEY : VALUE aparecen ordenados?

In [47]:
antonimos = {k : v for k,v in zip(verano,invierno)}
antonimos # desordenados!

{'calor': 'frio', 'mar': 'pista de ski', 'sol': 'nieve'}

In [48]:
# pensemos en los diccionarios como columnas (column name, values)
import pandas as pd

In [49]:
pd.Series(verano_d)

calor          5
mar            3
sol            3
humedad        7
pileta         6
vacaciones    10
dtype: int64

In [50]:
invierno_d = {k:len(k) for k in invierno}
invierno_d

{'frio': 4, 'pista de ski': 12, 'nieve': 5}

In [51]:
pd.DataFrame([verano_d, invierno_d])

   calor  frio  humedad  mar  nieve  pileta  pista de ski  sol  vacaciones
0    5.0   NaN      7.0  3.0    NaN     6.0           NaN  3.0        10.0
1    NaN   4.0      NaN  NaN    5.0     NaN          12.0  NaN         NaN

¿Qué hacen de diferente pd.Series() y pd.DataFrame() a la hora de generar informacion relevante?
## Desafío

Contamos con distintos operadores vinculados a una división:

In [52]:
# la división habitual
7/2

3.5

In [53]:
# el // sólo retiene el número entero, soslayando los decimales (tanto .1 como .9, es decir, no redondea!)
7//2

3

In [54]:
# el % nos devuelve el resto de la división antes de aplicar resultados decimales, veamos:
print(6%3)
print(7%2)

0
1

In [55]:
# creamos una lista de números impares, en el rango de 1 a 40
Nimpares = [ x for x in range(40) if x%2!=0]
Nimpares

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [ ]:
# creá una lista Npares de modo tal que excluya al 0 e incluya al 40
# recordá que python trabaja con intervalos semiabiertos a derecha
# puede serte útil ver o 'printear' el resultado de range(40), recordá encapsularlo como hacíamos con los iteradores!
Npares